decorator
ipython
ipywidgets
ipython-genutils
matplotlib
numpy
pandas
pandas_datareader
path.py
pexpect
pickleshare
ptyprocess
python-dateutil
pytz
requests_cache
scipy
simplegeneric
traitlets
seaborn
click
pyyaml
munch
enum34
multipledispatch
